---
import { Image } from "astro:assets";

interface Props {
  name: string;
  value?: number;
  disabled?: boolean;
}

const { name, value = 0, disabled = false } = Astro.props;
---

<div class="flex flex-col items-center text-sm">
  <Image
    src=`/assets/ingredient/${name}.png`
    alt={name}
    width="64"
    height="64"
  />
  <label for={name} class="h-12 max-w-24 text-center">{name}</label>
  <input
    type="number"
    id={name}
    name={name}
    min="0"
    max="999"
    value={value}
    required
    class="border"
    disabled={disabled}
  />
</div>
